.git
.github
log/*
tmp/*
!tmp/.keep
node_modules
public/packs
public/assets
.bundle
vendor/bundle
coverage
spec
radar-educacional
*.md
.env
.env.*
!.env.example
config/database.yml
config/secrets.yml
docker-compose*.yml
.byebug_history
storage/*
!storage/.keep
